NEXT_PUBLIC_OG_CHAIN_NAME="0G-Testnet-Galileo"
NEXT_PUBLIC_OG_CHAIN_ID=16602
NEXT_PUBLIC_OG_RPC_URL=https://evmrpc-testnet.0g.ai
NEXT_PUBLIC_OG_STORAGE_INDEXER_URL=https://indexer-storage-testnet-turbo.0g.ai
NEXT_PUBLIC_OG_FLOW_ADDRESS=0x22e03a6a89b950f1c82ec5e74f8eca321a105296
NEXT_PUBLIC_OG_EXPLORER_URL=https://chainscan-galileo.0g.ai
NEXT_PUBLIC_OG_STORAGE_EXPLORER_URL=https://storagescan-galileo.0g.ai
NEXT_PUBLIC_OG_EXPECTED_REPLICA=1
NEXT_PUBLIC_OG_STORAGE_GAS_LIMIT=500000

OG_CHAIN_ID=16602
OG_RPC_URL=https://evmrpc-testnet.0g.ai
DEPLOYER_PRIVATE_KEY=
